# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Base de datos SQLite
*.db
*.db-shm
*.db-wal

# Build
dist/
build/
*.tsbuildinfo
*.tgz

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db
